html {
    margin: 0;
    min-height: 100%;
    background-color: #353540;
}

body {
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    width: 375px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}

/* -- IMG ADJUSTMENTS -- */
.logo img {
    filter: invert(1);
    height: 80px;
    width: 100px;
    padding-right: 1rem;
}

.main-images {
    width: 275px;
    height: 150px;
    filter: brightness(0.50);
}

/* -- TYPOGRAPHY? -- */
.all-text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: white;
    text-align: center;
}

.text-size {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #353540;
    text-align: center;
  }

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
}

/* -- UTILS? -- */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.mx-w-centered {
    max-width: 80rem;
    margin: 0 auto;
}

.text-button {
    background-color: #3581ae;
    border-radius: 5px;
    min-width: 50px;
    margin: 0.5rem;
    padding: 5px 10px;
}

.logo {
    height: 80px;
    width: 400px;
    align-items: center;
    font-size: 30px;
    color: #ffd543;
    font-weight: bold;
}

.header-wrapper {
    background-color: #21212c;
    padding-bottom: 15px;
}

.header {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 75rem;
    margin: 0 auto;
}

.header-items {
    align-items: center;
}

.header-items a, .header-div div {
    flex: 1;
}

.header-div div:nth-child(2) {
    flex-basis: 500px;
}
   
.header-div, .main-div {
    padding: 30px;
}

.img-container {
    position: relative;
    flex: auto;
}
 
.banner-wrapper {
    background-color: #21212c;
    margin-top: 20px;
    padding: 20px 0;
}

.banner {
    flex-direction: column;
}

.footer {
    width: 60rem;
    margin: 20px auto;
}